<%= form_with(model: @miniblog, local: true, url: choose_new_or_edit) do |form| %>
  <!-- エラー表示 -->
  <% if @miniblog.errors.any? %>
     <div id = "error_explanation">
       <h2><%= @miniblog.errors.count %>件のエラー</h2>
       <ul>

         <% @miniblog.errors.full_messages.each do |msg| %>
           <li><%= msg %></li>
         <% end %>

       </ul>
     </div>
  <% end %>


   <div class="blog_title">
     <%= form.label :title %>
     <%= form.text_field :title %>
   </div>

   <div class="blog_content">
     <%= form.label :content %>
     <%= form.text_field :content %>
   </div>

   <%= form.submit "完了" %>

<% end %>

<br>

<%= link_to "一覧に戻る", miniblogs_path %>
