<h1>一覧</h1>

<%= notice %>

<table>
  <tr>
    <th>タイトル</th>
  </tr>

  <% @miniblogs.each do |miniblog| %>
    <tr>
      <td class="title"><%= miniblog.title %></td>
      <!-- <td><%= miniblog.content %></td> -->
      <td><%= link_to '詳細', miniblog_path(miniblog.id) %></td>
      <td><%= link_to "編集", edit_miniblog_path(miniblog.id) %></td>
      <td><%= link_to '削除', miniblog_path(miniblog.id), method: :delete,
      data:{confirm:'このブログを削除してよろしいですか？'} %></td>
    </tr>
  <% end %>

</table>

<br>

<%= link_to '新規投稿', new_miniblog_path %>
